@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {


    --secondary-color: rgb(253, 253, 253);
    --primary-font-color: rgb(51, 40, 40); 
}

* {
    margin: 0px;
    padding: 0px;
}

#logo-text {
    color: rgb(23, 23, 23);
    text-decoration: none;
    font-size: 23px;
    font-family: "Funnel Display";
    margin-right: auto;

}

header {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-around;
    background-color: rgb(253, 253, 253);
    box-sizing: border-box;
    padding: 30px 5%;
    align-content: center;
    z-index: 2;
    top: 0;      /* Add this */
    left: 0;     /* Add this */
    box-shadow: 0.5px 0.5px 10px rgb(23, 23, 23, 0.153);

}

header p {
    color: rgb(23, 23, 23);
    font-family: "Vina Sans";
    letter-spacing: 6px;
    font-size: 15px;
    
}

.header-right {
    display: flex;
    min-width: 54vw;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: inline-block;
    margin-left: 30px;
}

header ul a {
    position: relative;
    outline: none;
    text-decoration: none;
    font-family: "Funnel Display";
    color: rgb(23, 23, 23);
    font-size: 12px;
    height: 18px;
}

header ul {
    display: flex;
    align-items: center;
}

.main-body img {
    width: 100%;        /* Use the full width of the card's inner space */
    height: 120px;      /* Force every image to be the same height */
    object-fit: contain; /* This prevents the shoe from looking 'squished' */
    margin-bottom: 10px;
}

.main-body a {
    background-color: var(--secondary-color);
    text-decoration: none;
    width: 255px;
    height: 200px;
    color: var(--primary-font-color);
    box-shadow: 0.5px 0.5px 5px rgba(60, 60, 60, 0.315);
}

.main-body {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 10px;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
}

.card p {
    width: 80%;
    position: relative;
    top: 50%;
    left: 12%;
    text-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
    margin-top: 0.6vh;

}

.card #price {
    font-weight: bold;
}

.profile-picture {
    width: 32px;
    align-self: flex-end;
    height: 37px;
    width: 37px;
    border-radius: 5px;
    padding-top: 8px;
}

.body-part {
    display: flex;
    align-items: center;
}

.footer  {
    display: flex;
    justify-content: space-evenly;
    outline: 30px;
    flex-wrap: wrap;
    padding: 5px;
    height: 250px;
    font-family: "Roboto Condensed";
    box-shadow: -0.5px -0.5px 2px rgba(23, 23, 23, 0.315);
    gap: 10px;
}

.footer div {
    width: 300px;
    font-size: 0.8rem;;
    margin-top: 20px;
}

.footer li {
    outline: none;
    list-style-type: none;
    margin-top: 10px;
}

.footer #contact-us li {
    display: flex;
    justify-content: space-between;;
}

#about-me {
    text-align: justify;
}

#about-me #content-about-me {
    margin-top: 10px;
    line-height: 25px;
}

.footer a {
    text-decoration: none;
    color: black
}

.footer .footer-head {
    font-weight: bold;
}


.footer img {
    width: 20px;
    height: 20px;
}

.footer #policies li,
.footer #customer-support li {
    display: flex;
    align-items: center;
}

.footer #policies a,
.footer #customer-support a {
    margin-left: 12px;

}

.wrapper {
    margin-top: 150px;
    width: 90%;
    margin-inline: auto;
    max-width: 1400px;
    position: relative;
    height: 80px;
    overflow: hidden;

}

.wrapper button {
    width: 200px;
    height: 80px;
    position: absolute;
    left: 100%;
    animation-name: scroll-left;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 20px;
    display: grid;
    place-items: center;
    font-family: "Vina Sans";
    letter-spacing: 5px;
    color: aliceblue;
    border: none;
    cursor: pointer;
}



@keyframes scroll-left {
    to {
        left: -200px;
    }
}