@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

#logo-text {
    color: rgb(23, 23, 23);
    text-decoration: none;
    font-size: 15px;
    font-family: "Funnel Display"
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(253, 253, 253);
    box-sizing: border-box;
    padding: 30px 5%;
    align-content: center;
}

header p {
    color: rgb(23, 23, 23);
    font-family: "Vina Sans";
    letter-spacing: 6px;
    font-size: 15px;
}

header ul {
    flex-direction: row;
}

header li {
    display: inline-block;
    margin-left: 30px;
}

header ul a {
    outline: none;
    text-decoration: none;
    font-family: "Funnel Display";
    color: rgb(23, 23, 23);
    font-size: 12px;
}

