@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

:root {
    --secondary-color: rgb(253, 253, 253);
    --primary-font-color: rgb(51, 40, 40); 
}

* {
    margin: 0px;
    padding: 0px;
}

#logo-text {
    color: rgb(23, 23, 23);
    text-decoration: none;
    font-size: 23px;
    font-family: "Funnel Display";
    margin-right: auto;

}

header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(253, 253, 253);
    box-sizing: border-box;
    padding: 30px 5%;
    align-content: center;
}

header p {
    color: rgb(23, 23, 23);
    font-family: "Vina Sans";
    letter-spacing: 6px;
    font-size: 15px;
    
}

.header-right {
    display: flex;
    min-width: 54vw;
    justify-content: space-between;
}

header ul {
    flex-direction: row;
}

header li {
    display: inline-block;
    margin-left: 30px;
}

header ul a {
    outline: none;
    text-decoration: none;
    font-family: "Funnel Display";
    color: rgb(23, 23, 23);
    font-size: 12px;
}

.main-body img {
    width: 100%;        /* Use the full width of the card's inner space */
    height: 120px;      /* Force every image to be the same height */
    object-fit: contain; /* This prevents the shoe from looking 'squished' */
    margin-bottom: 10px;
}

.main-body a {
    background-color: var(--secondary-color);
    text-decoration: none;
    width: 280px;
    height: 200px;
    color: var(--primary-font-color);
    box-shadow: 0.5px 0.5px rgba(60, 60, 60, 0.315);
}

.main-body {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    justify-content: space-evenly;;
}

.card {
    display: flex;
    flex-direction: column;
}